* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    margin: 0;
    background: #e5e5e5;
    display: flex;
    justify-content: center;
}
.app{
    width: 360px;
    min-height: 100vh;
    background: #f2f2f2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card{
    background: #ffffff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
}
.profile-header{
    text-align: center;
    margin-bottom: 20px;
}
.profile-header h2{
    margin: 0;
    font-size: 22px;
}
.email{
    color: #777;
    margin-top: 4px;
    font-size: 14px;
}
.profile-info p{
    margin: 12px 0;
    font-size: 16px;
}
.profile-info span{
    font-weight: 600;
}
.button_exit{
    border: none;
    border-radius: 25px;
    padding: 12px;
    margin-top: 10px;
    font-size: 14px;
    cursor: pointer;
    background: #d89b2a;
    color: white;
    margin:0;
}
.bottom-nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #ffffff;
    border-radius: 20px;
}
.nav-item{
    background: transparent;
    border: none;
    color: black;
    cursor: pointer;
    font-weight: bold;
}
.nav-center{
    position: absolute;
    left: 50%;
    top: -25px;
    transform: translateX(-50%);
    width: 55px;
    height: 55px;
    background: #000;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    cursor: pointer;
}