* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}
html,body {
    margin: 0;
    background: #e5e5e5;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    background: white;
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

/* Заголовки */
h1, h2 {
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

/* Кнопки */
.btn-primary,
.btn-secondary {
    display: block;
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.2s;
}

.btn-primary {
    background-color: #e6a22d;
    color: white;
}

.btn-primary:hover {
    background-color: #d4922b;
}

.btn-secondary {
    background-color: #e6a22d;
    color: white;
}

.btn-secondary:hover {
    background-color: #d4922b;
}

.btn-wide {
    width: 100%;
    margin-top: 20px;
}

/* Карточка учета */
.card {
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 12px;
    margin: 20px 0;
}

.card p {
    margin: 8px 0;
    font-size: 16px;
}

.bottom-nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #ffffff;
    border-radius: 20px;
}
.nav-item{
    background: transparent;
    border: none;
    color: black;
    cursor: pointer;
    font-weight: bold;
}
.nav-center{
    position: absolute;
    left: 50%;
    top: -25px;
    transform: translateX(-50%);
    width: 55px;
    height: 55px;
    background: #000;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    cursor: pointer;
}

/* Вкладки дней */
.day-tabs {
    display: flex;
    background: #ccc;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    margin-bottom: 15px;
}

.day-tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    background: #eee;
    cursor: pointer;
}

.day-tab.active {
    background: white;
    color: #333;
}

/* План тренировки */
.workout-plan {
    padding: 15px 0;
}

.workout-plan ol {
    list-style-type: decimal;
    padding-left: 20px;
    margin: 15px 0;
}

.workout-plan li {
    margin-bottom: 15px;
    line-height: 1.5;
}

/* Адаптивность */
@media (max-width: 480px) {
    .container {
        padding: 15px;
    }
    .btn-primary,
    .btn-secondary {
        padding: 10px 15px;
        font-size: 14px;
    }
}