<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static',filename='css/training.css')}}">
    <title>Личный кабинет</title>
</head>
<body>
    <form method="post">
        <div class="app">
            <div class="card">
            <h2>Твои тренировки</h2>
            <button class="btn primary" name="button_train">Перейти</button>
            <div class="tracker">
                <h3>Учет каллорий и выпитой воды</h3>
                <p><strong>Вода:</strong> {{water_count}}/ {{normal_water}}</p>
                <p><strong>Калории:</strong> {{calories_count}} / {{normal_calories}}</p>
                <button class="btn secondary" name="button_addWater">Добавить воду</button>
                <button class="btn secondary" name="button_addCalories">Добавить каллории</button>
            </div>
        </div>
        <button class="btn wide" name="button_test">Пройти тест по подбору тренировки</button>
        <div class="bottom-nav">
            <button class="nav-item" name="button_main">Главная</button>
            <button class="nav-center" name="button_train">
                +
            </button>
            <button class="nav-item" name="button_profile">Профиль</button>
            </div>
        </div>
    </form>
</body>
</html>